{{ define "main" }}
  <!-- Banner -->
  <section class="section pt-14">
    <div class="container">
      <div class="row justify-center">
        <div class="col-7 mb-8">
          <h1 class="mb-4 text-h3 lg:text-h1">
            {{ .Params.title | markdownify }}
          </h1>
          <p class="text-xl">
            {{ .Params.position_blurb | markdownify }}
          </p>
          <p class="mt-2">
            {{ .Content | markdownify }}
          </p>
        </div>
        <div class="col-4">
          {{ partial "image" (dict "Src" .Params.image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto lg:!max-w-[550px]" "DisplayXL" "550x" ) }}
        </div>
      </div>
    </div>
  </section>
  <!-- /Banner -->
{{ end }}
